/* Navbar styles */
.navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // background: var(--blanc);
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1145px;
  top: 21px;
  left: 0;
  right: 0;
  height: 77px;
  border-radius: 19px;
  z-index: 2;
  background: rgba(255, 255, 255, 0.62); 
  backdrop-filter: blur(10px); 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.menu {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin: 0 15px;
}

.nav-item a {
  text-decoration: none;
  color: var(--primary);
  font-size: 16px;
}

.nav-item a:hover {
  color: var(--primary-hover);
}

/* Burger Icon Styles */
.sidenav-toggle-btn {
  display: flex;
  cursor: pointer;
}

@media (min-width: 992px) {
  .sidenav-toggle-btn {
    display: none;
  }
}

/* Mobile Menu Styles */
@media (max-width: 991px) {
  .menu {
    visibility: hidden;
    width: 204px;
    text-align: center;
    flex-direction: column; 
    position: absolute;
    top: 87px;
    left: 0;
    border-radius: 19px;
    background-color: var(--blanc);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    // border: 1px solid #fefefe;
    z-index: 3;
    -webkit-transition: 0.2s ease-in-out;
     transition: 0.2s ease-in-out;
  }
 .menu li {
  line-height: 4px;
  display: none;
 }
 .logo {
  order: 2;
}

.language {
  order: 3;
}
  // .menu.show {
  //   -webkit-transform: translateY(-10px);
  //   transform: translateY(-10px);
  //   z-index: 10;
  // }
    
  .menu.show {
    visibility: visible;
    -webkit-transform: translateY(0px);
    transform: translateY(-10px);
  }
  
 .menu.show li{
   display: block;
  }

  .nav-item {
    padding: 20px;
  }
}

/* Burger Icon Animation */
.sidenav-toggle-btn img {
  width: 30px;
  transition: transform 0.3s ease;

}

.sidenav-toggle-btn.open img {
  transform: rotate(90deg);
}
