<nav class="navbar">
  <div class="logo">
  <app-navbar-logo></app-navbar-logo>
</div>
  <ul id="nav" class="menu" [ngClass]="{ 'show': isMenuOpen }">
    <ng-container *ngFor="let item of menus">
      <li class="nav-item">
        <a class="page-scroll" [class.active]="isActive('/' + item.url)" [routerLinkActive]="['active']" (click)="onMenuItemClick()" href="{{item.url}}">{{item.label}}</a>
      </li>
    </ng-container>
  </ul>

  <!-- Burger Icon (only visible on mobile) -->
  <div class="sidenav-toggle-btn" (click)="toggleMenu()">
    <img src="assets/images/icons/humberger-icon.svg" alt="menu button" [ngClass]="{ 'open': isMenuOpen }">
  </div>
 
  <div class="language">
  <app-language-dropdown></app-language-dropdown>
</div>
</nav>