:root {
  --vert-gazon: #5ba802;
  --bleu-pigment: #023382;
  --blanc-anti-flash-1: #b4b4b5;
  --blanc: #ffffff;
  --blanc-anti-flash-3: #4f4f51;
  --bleu-de-france: #3282cc;
  --blue-grey: #7f99be;
  --pale-grey: #f2f2f4;
  --bleu-pigment-2: #a9bbd2;
  --rouge-vermeil: #ff0a22;
  --background: #fcfdff;
  --maize: #ffcc43;
  --rouge-vermeil-1: #ab0613;
/* infinite component  */
  --color-text: navy;
  --color-bg: papayawhip;
  --color-bg-accent: #ecdcc0;
  --size: clamp(4rem, 1rem + 40vmin, 17rem);
  --gap: calc(var(--size) / 14);
  --duration: 20s;
  --scroll-start: 0;
  --scroll-end: calc(-100% - var(--gap));
}
