<section class="container">
    <div class="contact-section">
        <div class="content">
            <h2 class="title">CONTACTEZ-NOUS</h2>
                <p class="subheading">
                    BLINK Solutions est une Assurtech, Fondée en 2021 et spécialisée dans le
                    développement de solutions métiers pour les compagnies d’assurances.
            </p>
            <form>
            <input class="text-input" type="email" placeholder="Email" />
            </form>
        </div>
        <div class="image">
            <img src="assets/images/contactus/image.svg" alt="Contact Section" />
        </div>
   </div>
</section>