.title {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0;
  font-size: var(--font-title-large);
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.45;
  letter-spacing: normal;
  text-align: center;
  color: var(--primary);
}

.title::before,
.title::after {
  content: "";
  height: 1px;
  flex: 1 0 0;
}

.title::before {
  background-image: linear-gradient(to right, #3d9cf4, var(--bleu-pigment));
  margin-right: 50px;
}

.title::after {
  background-image: linear-gradient(to left, #3d9cf4, var(--bleu-pigment));
  margin-left: 50px;
}

@media only screen and (max-width: 959px) {
  .title{
    font-size: 31px;
  }
  .title::before {
    margin-right: 8px;
  }

  .title::after {
    margin-left: 8px;
  }
}
