.card {
    text-align: center;
    background: var(--blanc);
    transition: transform 0.2s;
  }
  
  .card:hover {
    transform: scale(1.02);
  }
  
  .icon {
    width: 64px;
    height: 64px;
    margin-bottom: 1rem;
  }
  
  .title {
    font-size: var(--font-title-small);
    color: var(--primary);
    margin-bottom: 0.8rem;
  }
  
  .description {
    font-size: var(--font-description-small);
    color: #07001A;
  }
  