
<footer class="footer">
  <div class="container">
    <div class="row footer-content section_gap">
      <img [src]="'assets/images/footer-logo.svg'" alt="footer logo" />
      <p class="footer-description"> B-Link Solution, fondée en 2021, est un leader innovant dans le domaine de l'InsurTech. Notre expertise allie une profonde connaissance du secteur de l'assurance à une maîtrise des technologies de pointe.</p>
      <div class="social-links">
        <a *ngFor="let link of socialLinks" [href]="link.url" class="social-icon" target="_blank">
          <img [src]="link.iconPath" [alt]="link.name" />
        </a>
      </div>  
      <div class="download-button">
        <img [src]="'assets/images/icons/googleplay.svg'" class="play store">
        <img [src]="'assets/images/icons/appstore.svg'" class="google play">
      </div>
      <div class="footer-bottom">
        <p>
          ©{{ currentYear }} All Rights Reserved. Blink®
        </p>
      </div>

    </div>
  </div>

</footer>

<app-scroll-top></app-scroll-top>
