.thumbnail {
    display: flex;
    position: relative;
    overflow-x: auto;
    /* white-space: nowrap; */
    gap: 10px; 
    scrollbar-width: thin;    
    z-index: 1;
    /* TODO --------------- */
    /* justify-content: center; */
}

  .item {
    flex: 0 0 auto; 
    cursor: pointer;
  }
  
    
.thumbnail::-webkit-scrollbar{
    width: 0;
}

.thumbnail .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    background: var(--blanc);
    width: 200px;
    height: 126px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #e5e5e5;
    transition: .5s;
}

.thumbnail .item.active{
    background-color: var(--primary);
    opacity: 0.8; 
    color: var(--blanc);
}

/* TODO  il faut verifier cette ligne */
.thumbnail  .content{
    inset: auto 10px 10px 10px;
}
     
  @media screen and (max-width: 1023px) {
    .thumbnail .item {
      width: 129px;
      height: 120px;
    }
  }