<ng-container>
 <app-hero></app-hero>
 
 <app-slider></app-slider>
   <app-modules-section></app-modules-section>
   <app-testimonials-section></app-testimonials-section>
   <app-about-us-section></app-about-us-section>
   
   <app-ultime-assurance-section></app-ultime-assurance-section>
   <app-expandable-carousel></app-expandable-carousel>
   <app-infinite-scroll-section></app-infinite-scroll-section>
   <!-- <app-flex-hover-slider></app-flex-hover-slider> -->
   <app-home-our-partners></app-home-our-partners>
   <app-contact-us></app-contact-us>
</ng-container>
