<section [id]="'about'" class="facilities_area section_gap">
    <div class="overlay bg-parallax"></div>
    <div class="container">
      <div class="section_title text-center">
        <h2 class="title_w">Royal Facilities</h2>
        <p>Who are in extremely love with eco friendly system.</p>
      </div>
      <div class="row mb_30">
        <div class="col" *ngFor="let facility of facilities">
          <div class="facilities_item">
            <h4 class="sec_h4"><i [class]="facility.icon"></i>{{ facility.name }}</h4>
            <p>{{ facility.description }}</p>
          </div>
        </div>
      </div>
    </div>
</section>
  